<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>


  <%= content_tag :table, role: :datatable, id: "ascent-table", class: "table table-striped table-sm", data: { turbolinks: false, url: ascents_path(format: :json)} do %>
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Montaña</th>
        <th>Ruta</th>
        <th>Descripción</th>
        <th>Andinistas</th>
        <th style="min-width: 120px">Fecha</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  <% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#ascent-table').DataTable({
      processing: true,
      serverSide: true,
      ajax: '/ascents.json',
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
      })
  });
</script>

<% if user_signed_in? %>
  <div class="btn-group" role="group" aria-label="Acciones">
    <%= link_to 'Nuevo Ascenso', new_ascent_path %>
  </div>
<% end %>
