<% content_for :meta_title, "Andinistas | #{DEFAULT_META["meta_title"]}" %>
<% if notice then %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h1>Andinistas</h1>

<%= content_tag :table, role: :datatable, id: "andinist-table", class: "table table-striped table-sm", data: { turbolinks: false, url: andinists_path(format: :json)} do %>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>País(es)</th>
      <th>Club(es)</th>
      <th># Ascensos Destacados</th>
      <th># Primeras Absolutas</th>
      <th># Nuevas Rutas</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#andinist-table').DataTable({
      processing: true,
      serverSide: true,
      ajax: '/andinists.json',
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
      })
  });
</script>


<% if user_signed_in? %>
  <div class="btn-group" role="group" aria-label="Acciones">
    <%= link_to 'Nuevo Andinista', new_andinist_path %>
  </div>
<% end %>