<% if can? :manage, Mountain %>
	<h1>Editar <%= @mountain.fullname %></h1>

	<%= render 'form', mountain: @mountain %>

	<%= link_to ['Volver a ', @mountain.fullname].join(" "), @mountain %> |
	<%= link_to 'Volver a Cerros', mountains_init_url %>
<% else %>
	<p> No tienes acceso a este sitio </p>
<% end %>
