<% if can? :manage, Mountain %>
	<h1>Nuevo Cerro</h1>

	<%= render 'form', mountain: @mountain %>

	<%= link_to 'Volver a Cerros', mountains_init_url %>
<% else %>
	<p> No tienes acceso a este sitio </p>
<% end %>
