<% if can? :manage, Sector %>
	<h1>Editar Sector</h1>

	<%= render 'form', sector: @sector %>

	<%= link_to 'Mostrar', @sector %> |
	<%= link_to 'Volver', sectors_path %>
<% else %>
	<p> No tienes acceso a este sitio </p>
<% end %>
