<% content_for :meta_title, "Nosotros | #{DEFAULT_META["meta_title"]}" %>
<!--<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cerros de los Andes DB</h1>
        <p class="lead text-muted">La gran base de datos de los cerros de los Andes, y sus ascensiones más destacadas.</p>
        <p>
          <%= link_to "Montañas", mountains_init_url, class: "btn btn-primary my-2"  %>
          <%= link_to "Andinistas", andinists_path, class: "btn btn-secondary my-2" %>
        </p>
      </div>
    </div>
  </section>
</main>-->

<div class="about-cover mb-5" style="background-image: url('https://lh3.googleusercontent.com/GOsMiv5I8YAewKHjAJwgTR9aU9WJ9jb6GwHRTsru1KnN4AoliR7vKMJIjoQI5-uwZoF8224azyKGRLkbVyRrcPU7_B3fiKqesInSFc57QK-T2c-gJ4HKuXzxHTPtaTD91A3-iru2psZxS_Bs3R9ntBde1ipxzPMU4BGkubnyX_pBCYaVu9d1IXTFj6DpCeXDe5U74jTRD402PxLE7jKn4KWVLXZp1dX37vMqCGVgd-s2l6uxPRJ_g-iSgizWNFZlw0QSsWv0RBJ-jZzcIicdOp63Z2QstH7XyAr7Vu2Ek5oBy_9VNLxRobSRkRlcUHfBjUXvPaHUMDa6neoTI3x0glAouRc9_B0jo1AUoyTBuoe1bz_q3tRVYszkVvMCtI_jp9E4M5xlPNSx8_O2bzFZh-D2-5kfpdDiNWqiJeCUAJVw5fz7blY9cQVKGUbS__EHnmFFLsuQqMoKxitkOu0s_KbQix13TR9-BOZbP4lsfZPaOga9xMeyj847FPMCyL9AF0y_oZs_-_zuvVv55f7vd4oSG5UNC2mJfmYGDQmBQ1Wab6_JiReEaDiz590zBwdBg8oZp3pGkpDZFUqCQhLvizGWkDqjrUsWkNj0uKnEA-sRtsL3vXDE2yfmcUFzyq-mPgCrRbrNn4pbN7olrUSr-YicZ5pOglMmZChzbCrImxXD9jrDUpYBZifmtIo2daRrRGwckOhzF_uQCDFIjm5AA_ngcg=w1560-h345-no?authuser=1');">

</div>

<div class="blog-container">
  

  <div class="mb-3 article-content">
    <p> Somos un colectivo de personas que reconocemos que el andinismo en los Andes tiene una rica historia que debe ser recuperada para que así todos podamos apreciar a quienes compartieron las mismas pasiones, solo que años antes. No somos más que un resultado de todo lo que ha ocurrido antes que nosotros. </p>

    <p> Este proyecto toma como punto de partida y busca complementar el enorme y destacado trabajo compilatorio de muchos: Evelio Echevarría, Joszef Ambrus, Humberto Barrera, <a href="https://clubandinodechile.cl">Club Andino de Chile</a>, <a href="https://www.perrosalpinos.cl/proyectonomenclatura.html">Proyecto Nomenclatura</a>, <a href="https://www.perrosalpinos.cl/">Perros Alpinos</a>, <a href="https://www.dav.cl">DAV</a>, <a href="https://www.andeshandbook.cl">Andeshandbook</a>, entre otros.</p>

    <p> También es necesario decir que los supuestos considerados para incluir qué cerros o ascensos se incluyen en el sitio, así como sus características, no son imposiciones y están abiertos a cambios. No nos adjudicamos un poder absoluto de decidir qué entra en esta gran base de datos y cualquier propuesta de modificación estructural o circunstancial es bienvenida para nutrir de la manera más adecuada la información contenida en el sitio. </p>

  </div>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    $(".container").addClass("cover-container");
    $(".container").removeClass("mt-5");
  });
</script>