<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cerros de los Andes DB</h1>
        <p class="lead text-muted">La gran base de datos de los cerros de los Andes, y sus ascensiones más destacadas.</p>
        <p>
          <%= link_to "Montañas", mountains_init_url, class: "btn btn-primary my-2"  %>
          <%= link_to "Andinistas", andinists_path, class: "btn btn-secondary my-2" %>
        </p>
      </div>
    </div>
  </section>
</main>

<p> En una actividad donde los números esconden cada día más lo bello de las montañas y de las experiencias humanas en ellas, este ejercicio de ordenar la información histórica y estructurarla puede parecer un paso más en la deshumanización y desnaturalización del montañismo.</p>

<p> Somos un colectivo de personas que reconocemos que el andinismo en los Andes tiene una rica historia que debe ser recuperada para que así todos podamos apreciar a quienes compartieron las mismas pasiones, solo que años antes. No somos más que un resultado de todo lo que ha ocurrido antes que nosotros. </p>

<p> Este proyecto toma como punto de partida el enorme y destacado trabajo compilatorio de muchos: Evelio Echevarría, Joszef Ambrus, Humberto Barrera, Proyecto Nomenclatura, Perros Alpinos, entre otros.</p>

<p> También es necesario decir que los supuestos considerados para incluir qué cerros o ascensos se incluyen en el sitio, así como sus características, no son imposiciones y están abiertos a cambios. No nos adjudicamos un poder absoluto de decidir qué entra en esta gran base de datos y cualquier propuesta de modificación estructural o particular es bienvenida para nutrir de la manera más adecuada la información contenida en el sitio. </p>

<p> No sé como estructurar esto o como partir o que faltaría jaja Tal vez incluir nuestros nombres, y una lista de menciones para agradecer a todos quienes les robamos info </p>
