<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cerros de los Andes</h1>
        <p class="lead text-muted">La gran base de datos de los cerros de los Andes, y sus ascensiones más destacadas.</p>
        <p>
          <%= link_to "Montañas", mountains_init_url, class: "btn btn-secondary my-2"  %>
          <%= link_to "Sectores", sectors_path, class: "btn btn-secondary my-2"  %>
          <%= link_to "Ascensos", ascents_path, class: "btn btn-secondary my-2"  %>
          <%= link_to "Andinistas", andinists_path, class: "btn btn-secondary my-2" %>
        </p>
      </div>
    </div>
  </section>
</main>
