<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">Proyecto Nomenclatura</h1>
        <p class="lead text-muted">El Proyecto Nomenclatura fue blablabla.</p>
        <p>
          <%= link_to "Link 1 Perros Alpinos", mountains_path, class: "btn btn-primary my-2"  %>
          <%= link_to "Link 2 AHB", andinists_path, class: "btn btn-secondary my-2" %>
        </p>
      </div>
    </div>
  </section>
</main>